* {
    box-sizing: border-box;
}

.sliderimg {
    display: none;
}
.sliderimgcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.btn {
    height: 8%;
    width: 3.3%;
    position: absolute;
}
.btn button {
    cursor: pointer;
    height: 100%;
    width: 100%;
    border: 1px solid white;
    background-color: white;
}
#rightbtn {
    right: 8px;
}
.btn button i {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
